<h5>SCOOTERS list</h5>
<div class="filter">
  <label>Find scooter by name:</label>
  <input type="text" (input)="onFilter($event)" class="filter-input"/>
</div>
<table class='table' *ngIf="filteredScooters.length > 0; else noScootersWarning">
  <thead>
    <tr>
      <th>Reg.Code <i (click)="onSort('registration_code')" class="fa fa-angle-{{this.field === 'name' ? (this.sortAsc ? 'down' : 'up') : 'down'}}"></i></th>
      <th>Busy <i (click)="onSort('is_busy')" class="fa fa-angle-{{this.field === 'weight' ? (this.sortAsc ? 'down' : 'up') : 'down'}}"></i></th>
      <th>Date <i (click)="onSort('last_use_time')" class="fa fa-angle-{{this.field === 'total_milk' ? (this.sortAsc ? 'down' : 'up') : 'down'}}"></i></th>
      <th>Kilometers <i (click)="onSort('total_ride_kilometers')" class="fa fa-angle-{{this.field === 'last_milk_time' ? (this.sortAsc ? 'down' : 'up') : 'down'}}"></i></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredScooters">
      <td><a [routerLink]="['/cows', item.id]">{{item.registration_code}}</a></td>
      <td><i class="fa {{item.is_busy ? 'fa-check' : 'fa-battery-full '}}" aria-hidden="true"></i></td>
      <td>{{item.last_use_time | date }}</td>
      <td>{{item.total_ride_kilometers}}</td>
      <td>
        <button [routerLink]="['/scooters', item.id]" class="btn btn-outline-success action">Update</button>
        <button (click)="onDelete(item.id)" class="btn btn-outline-danger action">Delete</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
      <td>Total scooters: <span *ngIf="recordsLoaded">{{total_records}}</span></td>
      <td></td>
      <td></td>
      <td>Total kilometers: <span *ngIf="recordsLoaded">{{total_kilometers}}</span></td>
      <td></td>
  </tfoot>
</table>
<ng-template #noScootersWarning>
  <p *ngIf="dataLoaded" class="alert alert-warning">Sorry, no data!</p>
</ng-template>
