<p *ngIf="!formValid && !formInfo.dirty" class="alert alert-danger">ERROR! Please make some changes before Updating to DB!</p>
<form #formInfo="ngForm" action method="GET">
<h5 *ngIf="scooter !== undefined">Update scooter {{scooter.registration_code}}</h5>
<table class='table' *ngIf="scooter !== undefined; else noPerson" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Busy</th>
      <th>Busy?</th>
      <th>Total Kms</th>
      <th>Plus Kms</th>
      <th>Last use time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{scooter.registration_code}}</td>
      <td>{{scooter.is_busy ? "true" : "false"}}</td>
      <td><input type="checkbox" [(ngModel)]="scooter.is_busy" name="is_busy"></td>
      <td>{{scooter.total_ride_kilometers}}</td>
      <td><input type="number" ngModel #kmInput="ngModel" name="total_ride_kilometers"></td>
      <td><input type="datetime-local" ngModel #dateInput="ngModel" name="last_use_time"></td>
    </tr>
  </tbody>
</table>
<p *ngIf="!formInfo.touched && formInfo.submitted" class="alert alert-warning">Form is untuched! Make some changes for saving!</p>
<p *ngIf="!formInfo.valid && formInfo.submitted && formInfo.touched" class="alert alert-warning">Form is invalid! Make some changes in red fields for saving!</p>
<ng-template #noPerson>
  <h5>Create new scooter</h5>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Kms</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" #inName="ngModel" maxlength="8" name="registration_code" ngModel required><p *ngIf="inName.invalid && inName.touched" >Name not valid. Use 8 chars please!</p></td>
        <td><input type="number" min="0" max="9999" #inKm="ngModel" name="total_ride_kilometers" ngModel></td>
        <td><input type="datetime-local" #inDate="ngModel" name="last_use_time" ngModel></td>
      </tr>
    </tbody>
  </table>
</ng-template>
<div class="delete-edit-btns">
  <button class="btn btn-outline-dark" (click)="onBack()">Back</button>
  <button *ngIf="!!scooter" type="button" (click)="onDelete(scooter.id)" class="btn btn-outline-danger" >Delete</button>
  <button *ngIf="!!scooter" type="button" (click)="onUpdate()" class="btn btn-outline-warning">Update</button>
  <button *ngIf="!scooter" type="button" (click)="onCreate()" class="btn btn-outline-success">Save</button>
</div>
</form>
